.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr;
  grid-auto-columns: 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    ".";
}  

.titulo{
  margin-top: 20px;
  text-align: center;    
}
