<p-toast></p-toast>

<div class="flex-container">
  <div class="flex-items">
    <span class="p-float-label margin-cedula" *ngIf="rol == 'ADMINISTRADOR'">
      <p-inputNumber type="number" id="inputCedula" [(ngModel)]="cedula" [min]="0" [maxlength]="11"> </p-inputNumber>
      <label htmlFor="inputCedula">Número de documento</label>
    </span>
    <p-dropdown
      *ngIf="pacienteAux"
      placeholder="Especialidad"
      [options]="especialidades"
      [(ngModel)]="especialidadSeleccionada"
      optionLabel="especialidad"
      (onChange)="filtrarPorEspecialidad()"
      [style]="{ width: '208px' }"
    ></p-dropdown>
  </div>

  <div class="flex-items margin-boton" *ngIf="rol == 'ADMINISTRADOR'">
    <p-button
      label="Buscar"
      styleClass="p-button-raised"
      icon="pi pi-search"
      (onClick)="buscarPacientePorCedula()"
    ></p-button>
  </div>

  <div class="flex-items margin-card" *ngIf="rol == 'ADMINISTRADOR' && pacienteAux">
    <div class="card flex justify-content-center">
      <p-card
        header="{{
          pacienteAux.persona.nombre + ' ' + pacienteAux.persona.apellido
        }}"
        subheader=" {{ pacienteAux.persona.correo }}"
        [style]="{ width: '360px' }"
      >
        <p>
          {{ pacienteAux.persona.tipoIdentificacion.tipo }}:
          {{ pacienteAux.persona.numeroDocumento }}
          <br />
          Telefono: {{ pacienteAux.persona.telefono }}
        </p>
      </p-card>
    </div>
  </div>
</div>
