<div class="row">
    <h2 class="titulo">Perfil</h2>
</div>

<div class="flex-container">
    <div class="flex-items">
        <span class="p-float-label margin-cedula">
            <p-inputNumber type="number" id="inputCedula" [(ngModel)]="cedula" [min]="0" [maxlength]="11">
            </p-inputNumber>
            <label htmlFor="inputCedula">Número de documento</label>
        </span>
    </div>
    <div class="flex-items margin-boton">
        <p-button label="Buscar" styleClass="p-button-raised" icon="pi pi-search"></p-button>
    </div>
</div>

<div class="flex-container2">
    <div class="field">
        <span class="p-float-label form">
            <input class="input" pInputText id="nombre" [(ngModel)]="persona.nombre" required autofocus />
            <label htmlFor="nombre">Nombre</label>
            <small class="p-error" *ngIf="submitted && !persona.nombre">El Nombre es requerido</small>
        </span>
    </div>

    <div class="field">
        <span class="p-float-label form">
            <input class="input" pInputText id="nombre" [(ngModel)]="persona.apellido" required autofocus />
            <label htmlFor="nombre">Apellido</label>
            <small class="p-error" *ngIf="submitted && !persona.apellido">El Apellido es requerido</small>
        </span>
    </div>

    <div class="field">
        <span class="p-float-label form">
            <p-dropdown class="dropdown row" [options]="tipos_identificacion" [(ngModel)]="typeSelected"
                placeholder="Tipo de identificación" optionLabel="tipo"></p-dropdown>
            <label for="float-label">Tipo de identificacion</label>
            <small class="p-error" *ngIf="submitted && !persona.tipoIdentificacion">El tipo de identificacion
                es requerido</small>
        </span>
    </div>

    <div class="field">
        <span class="p-float-label form">
            <input class="input" pInputText type="number" id="documento" [(ngModel)]="persona.numeroDocumento" required
                autofocus [disabled]='editar' />
            <label htmlFor="nombre">Numero documento</label>
            <small class="p-error" *ngIf="submitted && !persona.numeroDocumento">El numero del documento es
                requerido</small>
        </span>
    </div>

    <div class="field">
        <span class="p-float-label form">
            <input class="input" pInputText id="telefono" type="number" [(ngModel)]="persona.telefono" required
                autofocus />
            <label htmlFor="nombre">Telefono</label>
            <small class="p-error" *ngIf="submitted && !persona.telefono">El numero de telefono es
                requerido</small>
        </span>
    </div>

    <div class="field">
        <span class="p-float-label form">
            <input class="input" pInputText id="correo" type="email" [(ngModel)]="persona.correo" required autofocus />
            <label htmlFor="nombre">Correo</label>
            <small class="p-error" *ngIf="submitted && !persona.correo">El correo es requerido</small>
        </span>
    </div>

    <div class="boton row">
        <button pButton pRipple label="Actualizar perfil" icon="pi pi-check" class="p-button-success"></button>
    </div>
</div>

<div class="container-contraseña">
    <div class="row">
        <h4 class="titulo2">Cambiar contraseña</h4>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
            <button pButton pRipple label="Cambiar contraseña" icon="pi pi-pencil" class="p-button-warning"></button>
            <button pButton pRipple label="ocultar" icon="pi pi-eye" class="p-button-danger"></button>
        </div>
    </div>
    <div class="flex-container2">
        <div class="field">
            <span class="p-float-label form">
                <input class="input" pInputText type="password" id="contrasenaActual" [(ngModel)]="contrasenaActual" required autofocus />
                <label htmlFor="contrasenaActual">Contraseña Actual</label>
            </span>
        </div>
    
        <div class="field">
            <span class="p-float-label form">
                <input class="input" pInputText type="password" id="nombre" [(ngModel)]="contrasenaNueva" required autofocus />
                <label htmlFor="nombre">Contraseña Nueva</label>
            </span>
        </div>
    
        <div class="boton row">
            <button pButton pRipple label="Cambiar Contraseña" icon="pi pi-check" class="p-button-success"></button>
        </div>
    </div>
</div>