<p-toast></p-toast>

<div class="row">
    <h2 class="titulo">Perfil</h2>
</div>

<div class="flex-container2">
    <div class="field">
        <span class="p-float-label form">
            <input class="input" pInputText id="nombre" [(ngModel)]="persona.nombre" required autofocus />
            <label htmlFor="nombre">Nombre</label>
            <small class="p-error" *ngIf="submitted && !persona.nombre">El Nombre es requerido</small>
        </span>
    </div>

    <div class="field">
        <span class="p-float-label form">
            <input class="input" pInputText id="apellido" [(ngModel)]="persona.apellido" required autofocus />
            <label htmlFor="apellido">Apellido</label>
            <small class="p-error" *ngIf="submitted && !persona.apellido">El Apellido es requerido</small>
        </span>
    </div>

    <div class="field">
        <span class="p-float-label form">
            <p-dropdown class="dropdown row" [options]="tipos_identificacion" [(ngModel)]="typeSelected"
                placeholder="Tipo de identificación" optionLabel="tipo"></p-dropdown>
            <label for="float-label">Tipo de identificacion</label>
            <small class="p-error" *ngIf="submitted && !persona.tipoIdentificacion">El tipo de identificacion
                es requerido</small>
        </span>
    </div>

    <div class="field">
        <span class="p-float-label form">
            <input class="input" pInputText type="number" id="documento" [(ngModel)]="persona.numeroDocumento" required
                autofocus [disabled]='editar' />
            <label htmlFor="nombre">Numero documento</label>
            <small class="p-error" *ngIf="submitted && !persona.numeroDocumento">El numero del documento es
                requerido</small>
        </span>
    </div>

    <div class="field">
        <span class="p-float-label form">
            <input class="input" pInputText id="telefono" type="number" [(ngModel)]="persona.telefono" required
                autofocus />
            <label htmlFor="nombre">Telefono</label>
            <small class="p-error" *ngIf="submitted && !persona.telefono">El numero de telefono es
                requerido</small>
        </span>
    </div>

    <div class="field">
        <span class="p-float-label form">
            <input class="input" pInputText id="correo" type="email" [(ngModel)]="persona.correo" required autofocus />
            <label htmlFor="nombre">Correo</label>
            <small class="p-error" *ngIf="submitted && !persona.correo">El correo es requerido</small>
        </span>
    </div>

    <div class="boton row">
        <button pButton pRipple label="Actualizar perfil" icon="pi pi-check" class="p-button-success" (click)="guardarActualizacionPerfil()"></button>
    </div>
</div>

<div class="container-contraseña">
    <div class="flex-container2">
        <div class="row">        
            <div class="col">
                <button pButton pRipple label="Cambiar contraseña" icon="pi pi-pencil" class="p-button-warning" (click)="mostrarFormulario()"></button>
                <!-- <button pButton pRipple label="ocultar" icon="pi pi-eye" class="p-button-danger"></button> -->
            </div>
        </div>
    </div>

<!-- Formulario cambiar contraseña -->
    <div 
    *ngIf="showFormulario"
    class="flex-container2" >
        <div class="field">
            <span class="p-float-label form">
                <input class="input" pInputText type="password" id="contrasenaActual" [(ngModel)]="contrasenaActual" required autofocus />
                <label htmlFor="contrasenaActual">Contraseña Actual</label>
            </span>
        </div>
    
        <div class="field">
            <span class="p-float-label form">
                <input class="input" pInputText type="password" id="newPassword" [(ngModel)]="contrasenaNueva" required autofocus />
                <label htmlFor="newPassword">Contraseña Nueva</label>
            </span>
        </div>
    
        <div class="boton row">
            <button pButton pRipple label="Cambiar Contraseña" icon="pi pi-check" class="p-button-success" (click)="cambiarContrasena()"></button>
        </div>
    </div>
</div>