.my-estilo {
  width: fit-content;
}

.opacidad-texto {
  opacity: 1;
}

.boton-derecha {
  display: flex;
  justify-content:flex-end;
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px; /* Agrega espaciado alrededor de los elementos (opcional) */
}

.centrar-fecha {
  text-align: center;
}

.flex-inline {
  display: inline-flex;
}

.container-info-cita {
  display: flex;
  justify-content: center;
}

.mayuscula ::first-letter {
  text-transform: uppercase;
} 
