<p-toast></p-toast>

<div *ngIf="this.rol != 'PACIENTE'"
  class="card flex-row justify-content-center flex-wrap p-fluid"
  style="margin: 50px; padding: 20px"
>
  <div
    class="my-estilo card flex-container flex-row justify-content-center flex-wrap p-inputgroup"
  >
    <span class="p-inputgroup-addon">
      <i class="pi pi-user"></i>
    </span>
    <!-- <input pInputText placeholder="Cedula paciente" /> -->
    <p-inputNumber
      type="number"
      id="inputCedula"
      [(ngModel)]="cedula"
      placeholder="Cedula paciente"
      [min]="0"
      [maxlength]="11"
    >
    </p-inputNumber>
    <button
      type="button"
      pButton
      label="Buscar"
      (click)="buscarCitaPorCedula()"
    ></button>
    <!-- <p-button label="Buscar" (onClick)="buscarCitaPorCedula()"></p-button> -->
  </div>
</div>

<div
  *ngIf="citasEncontradas"
  class="card container-info-paciente"
  style="margin: 50px; padding: 20px"
>
  <h3 *ngIf="citasEncontradas">Paciente</h3>
  <div
    class="card flex flex-row justify-content-center flex-wrap gap-2 p-fluid"
    style="padding: 20px"
    *ngIf="citasEncontradas[0]"
  > 

    <div class="flex flex-row gap-3">
      <label htmlFor="numeroDocumento">{{
        citasEncontradas[0].paciente.persona.tipoIdentificacion.tipo
      }}</label>
      <input
        id="numeroDocumento"
        type="text"
        pInputText
        [disabled]="true"
        value="{{ citasEncontradas[0].paciente.persona.numeroDocumento }}"
        class="opacidad-texto"
      />
    </div>
    <div>
      <label htmlFor="nombre">Nombre</label>
      <input
        id="nombre"
        type="text"
        pInputText
        [disabled]="true"
        value="{{
          citasEncontradas[0].paciente.persona.nombre +
            ' ' +
            citasEncontradas[0].paciente.persona.apellido
        }}"
        class="opacidad-texto"
      />
    </div>

    <div>
      <label htmlFor="telefono">Teléfono</label>
      <input
        id="telefono"
        type="text"
        pInputText
        [disabled]="true"
        value="{{ citasEncontradas[0].paciente.persona.telefono }}"
        class="opacidad-texto"
      />
    </div>
    <div>
      <label htmlFor="correo">Correo</label>
      <input
        id="correo"
        type="text"
        pInputText
        [disabled]="true"
        value="{{ citasEncontradas[0].paciente.persona.correo }}"
        class="opacidad-texto"
      />
    </div>
    <div>
      <label htmlFor="eps">EPS</label>
      <input
        id="eps"
        type="text"
        pInputText
        [disabled]="true"
        value="{{ citasEncontradas[0].paciente.eps?.eps }}"
        class="opacidad-texto"
      />
    </div>
  </div>
</div>

<ng-container *ngFor="let consu of citasEncontradas">
  <div class="card" style="margin: 50px; padding: 20px" *ngIf="citasEncontradas">
    <div class="container-info-cita">
      <div
        class="card centrar-fecha flex-inline"
        style="padding: 20px"
        *ngIf="citasEncontradas"
      >
        <div class="mayuscula">
          <h5 style="display: inline">Fecha: </h5>
          <label>{{ consu.fecha | date : "EEEE d 'de'" }}&nbsp;</label>
          <label> {{ consu.fecha | date : "MMMM 'del' y." }}</label>
        </div>
        <div>
          <h5 style="display: inline">Hora: </h5>
          <label> {{ consu.fecha | date : "h:mm a" }}</label>
          
        </div>
        <div>
          <h5 style="display: inline">Estado: </h5>
          <p-tag
            [value]="consu.estadoCita.estado"
            [severity]="getColorTagEstado(consu.estadoCita.estado)"
          ></p-tag>
        </div>
      </div>
    </div>

    <div class="container-info-doctor" *ngIf="consu">
      <h3>Doctor</h3>
      <div
        class="card flex flex-row justify-content-center flex-wrap gap-2 p-fluid"
        style="padding: 20px"
      >
        <div class="flex flex-row gap-3">
          <label htmlFor="numeroDocumento">{{
            consu.medico.persona.tipoIdentificacion.tipo
          }}</label>
          <input
            id="numeroDocumento"
            type="text"
            pInputText
            [disabled]="true"
            value="{{ consu.medico.persona.numeroDocumento }}"
            class="opacidad-texto"
          />
        </div>
        <div>
          <label htmlFor="nombre">Nombre</label>
          <input
            id="nombre"
            type="text"
            pInputText
            [disabled]="true"
            value="{{
              consu.medico.persona.nombre + ' ' + consu.medico.persona.apellido
            }}"
            class="opacidad-texto"
          />
        </div>

        <div>
          <label htmlFor="telefono">Teléfono</label>
          <input
            id="telefono"
            type="text"
            pInputText
            [disabled]="true"
            value="{{ consu.medico.persona.telefono }}"
            class="opacidad-texto"
          />
        </div>
        <div>
          <label htmlFor="correo">Correo</label>
          <input
            id="correo"
            type="text"
            pInputText
            [disabled]="true"
            value="{{ consu.medico.persona.correo }}"
            class="opacidad-texto"
          />
        </div>
        <div>
          <label htmlFor="eps">Especialidad</label>
          <input
            id="eps"
            type="text"
            pInputText
            [disabled]="true"
            value="{{ consu.medico.especialidad.especialidad }}"
            class="opacidad-texto"
          />
        </div>
      </div>
      <div >
        <p-toast></p-toast>
        <p-confirmDialog [style]="{width: '50vw'}" [rejectLabel]="'No'" [acceptLabel]="'Sí'"></p-confirmDialog>
        <div *ngIf="rol == 'PACIENTE'" class="boton-derecha">
          <button pButton pRipple (click)="confirmCancellation(consu)" label="Cancelar" class="p-button-danger"></button>
        </div>
        <div *ngIf="rol == 'ENCARGADO' || rol == 'ADMINISTRADOR'"class="boton-derecha">
          <button pButton pRipple (click)="confirm(consu)" label="Confirmar" class="p-button-success"></button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
