.my-estilo {
  width: fit-content;
}

.opacidad-texto {
  opacity: 1;
}

.centrar-fecha {
  text-align: center;
}

.flex-inline {
  display: inline-flex;
}

.container-info-cita {
  display: flex;
  justify-content: center;
}

.mayuscula ::first-letter {
  text-transform: uppercase;
} 
