<div class="card" style="border: none;">
  <p-menubar [model]="opcionesNavBar" [routerLinkActive]="'/citas'" [style]="{ background: '#5391ec', border: 'black', color: 'white'}">

    <ng-template pTemplate="start" class="wid-80">      
        <img src="assets/img/logo-app.png" height="40" class="mr-2" routerLink=""/>
    </ng-template>

    <ng-template pTemplate="end" class="wid-20" >
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"></a>
        <ul class="menu dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="card" style="width: 18rem;">
            <img id="imagen-drop" src="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" class="card-img-top" >
            <div class="card-body">
              <h5 class="text-center card-title">Usuario</h5>
            </div>
          </div>
          <li><a routerLink="/" class="dropdown-item">Perfil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a routerLink="/" class="dropdown-item">Edit</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a routerLink="/" class="dropdown-item">History</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a type="button" class="dropdown-item">Cerrar sesión</a></li>
        </ul>
      </li>
    </ng-template>

  </p-menubar>
</div>
