<div class="card" style="border: none;">
  <p-menubar [model]="opcionesNavBar" [routerLinkActive]="'/citas'" [style]="{ background: '#5391ec', border: 'black', color: 'white'}">

    <ng-template pTemplate="start" class="wid-80">      
        <img src="assets/img/logo-app.png" height="40" class="mr-2" routerLink=""/>
    </ng-template>

    <app-autorizado>
      <ng-container autorizado class="wid-20">            
          <li class="nav-item dropdown">
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" [style]="{'background-color':'#000000', 'color': '#ffffff'}" 
            shape="circle" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></p-avatar>

            <ul class="menu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="card" style="width: 18rem;">
                <img id="imagen-drop" src="https://cdn-icons-png.flaticon.com/512/6378/6378141.png" class="card-img-top" >
                <div class="card-body">
                  <h5 class="text-center card-title">Usuario</h5>
                </div>
              </div>
              <li><a routerLink="perfil" class="dropdown-item">Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="/" type="button" class="dropdown-item" (click)="cerrarSesion()">Cerrar sesión</a></li>
            </ul>
          </li>       
      </ng-container>

      <ng-container noAutorizado >
        <p-button routerLink="login">
          Iniciar Sesión
        </p-button>        
      </ng-container>      
    </app-autorizado>
  </p-menubar>
</div>
