<div class="card alineacion-login py-5 gap-3"> 

    <div class="gap-3" style="width: 60%;">
        <div class="row">
            <label class="col-lg-3 col-form-label" for="inputDocumento">Numero documento</label>            
            <div class="col-lg-8">
                <input pInputText id="inputDocumento" type="text" class="form-control" placeholder="Numero de Documento" [(ngModel)]="username"/>                
            </div>
        </div>        
        
        <div class="row my-2">
            <label class="col-lg-3 col-form-label" for="contrasena">Contraseña</label>
            <div class="col-lg-8">
                <input pInputText id="contrasena" type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password"/>
            </div>
        </div>
    </div>

    <p-button label="Iniciar Sesión" icon="pi pi-user" styleClass="w-10rem mx-auto" (click)="login()"></p-button>   
        
</div>   

